# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.*

# config files
*.config.ts
*.config.js
*.config.mjs
next.config.*
postcss.config.*
tailwind.config.*

# public folder
public/ 